/* === FAB === */
.fab {
  position: absolute;
  z-index: 1500;
}
.fab > a,
.fab-buttons a {
  position: relative;
  -webkit-transition-duration: 300ms;
  transition-duration: 300ms;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  overflow: hidden;
  z-index: 1;
}
.fab > a i {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0) rotate(0deg) scale(1);
  transform: translate3d(-50%, -50%, 0) rotate(0deg) scale(1);
  -webkit-transition: 300ms;
  transition: 300ms;
}
.fab > a i + i {
  -webkit-transform: translate3d(-50%, -50%, 0) rotate(-90deg) scale(0.5);
  transform: translate3d(-50%, -50%, 0) rotate(-90deg) scale(0.5);
  opacity: 0;
}
.fab[class*="fab-center"] {
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}
.fab[class*="left-center"],
.fab[class*="right-center"] {
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.fab[class*="center-center"] {
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}
.fab div.fab-buttons a {
  width: 40px;
  height: 40px;
}
.fab-buttons {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  visibility: hidden;
  pointer-events: none;
  position: absolute;
}
.fab-buttons a {
  opacity: 0;
}
.fab-opened:not(.fab-morph) > a i {
  -webkit-transform: translate3d(-50%, -50%, 0) rotate(90deg) scale(0.5);
  transform: translate3d(-50%, -50%, 0) rotate(90deg) scale(0.5);
  opacity: 0;
}
.fab-opened:not(.fab-morph) > a i + i {
  -webkit-transform: translate3d(-50%, -50%, 0) rotate(0deg) scale(1);
  transform: translate3d(-50%, -50%, 0) rotate(0deg) scale(1);
  opacity: 1;
}
.fab-opened .fab-buttons {
  visibility: visible;
  pointer-events: auto;
}
.fab-opened .fab-buttons a {
  opacity: 1;
  -webkit-transform: translate3d(0, 0px, 0) scale(1) !important;
  transform: translate3d(0, 0px, 0) scale(1) !important;
}
.fab-opened .fab-buttons a:nth-child(2) {
  -webkit-transition-delay: 50ms;
  transition-delay: 50ms;
}
.fab-opened .fab-buttons a:nth-child(3) {
  -webkit-transition-delay: 100ms;
  transition-delay: 100ms;
}
.fab-opened .fab-buttons a:nth-child(4) {
  -webkit-transition-delay: 150ms;
  transition-delay: 150ms;
}
.fab-opened .fab-buttons a:nth-child(5) {
  -webkit-transition-delay: 200ms;
  transition-delay: 200ms;
}
.fab-opened .fab-buttons a:nth-child(6) {
  -webkit-transition-delay: 250ms;
  transition-delay: 250ms;
}
.fab-buttons-top,
.fab-buttons-bottom {
  left: 50%;
  width: 40px;
  margin-left: -20px;
}
.fab-buttons-top {
  bottom: 100%;
  margin-bottom: 16px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: column-reverse;
  -ms-flex-direction: column-reverse;
  flex-direction: column-reverse;
}
.fab-buttons-top a {
  -webkit-transform: translate3d(0, 8px, 0) scale(0.3);
  transform: translate3d(0, 8px, 0) scale(0.3);
  -webkit-transform-origin: center bottom;
  transform-origin: center bottom;
}
.fab-buttons-top a + a {
  margin-bottom: 16px;
}
.fab-buttons-bottom {
  top: 100%;
  margin-top: 16px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
.fab-buttons-bottom a {
  -webkit-transform: translate3d(0, -8px, 0) scale(0.3);
  transform: translate3d(0, -8px, 0) scale(0.3);
  -webkit-transform-origin: center top;
  transform-origin: center top;
}
.fab-buttons-bottom a + a {
  margin-top: 16px;
}
.fab-buttons-left,
.fab-buttons-right {
  top: 50%;
  height: 40px;
  margin-top: -20px;
}
.fab-buttons-left {
  right: 100%;
  margin-right: 16px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}
.fab-buttons-left a {
  -webkit-transform: translate3d(8px, 0px, 0) scale(0.3);
  transform: translate3d(8px, 0px, 0) scale(0.3);
  -webkit-transform-origin: right center;
  transform-origin: right center;
}
.fab-buttons-left a + a {
  margin-right: 16px;
}
.fab-buttons-right {
  left: 100%;
  margin-left: 16px;
}
.fab-buttons-right a {
  -webkit-transform: translate3d(-8px, 0, 0) scale(0.3);
  transform: translate3d(-8px, 0, 0) scale(0.3);
  -webkit-transform-origin: left center;
  transform-origin: left center;
}
.fab-buttons-right a + a {
  margin-left: 16px;
}
.fab-buttons-center {
  left: 0%;
  top: 0%;
  width: 100%;
  height: 100%;
}
.fab-buttons-center a {
  position: absolute;
}
.fab-buttons-center a:nth-child(1) {
  left: 50%;
  margin-left: -20px;
  bottom: 100%;
  margin-bottom: 16px;
  -webkit-transform: translateY(-8px) scale(0.3);
  transform: translateY(-8px) scale(0.3);
  -webkit-transform-origin: center bottom;
  transform-origin: center bottom;
}
.fab-buttons-center a:nth-child(2) {
  left: 100%;
  margin-top: -20px;
  top: 50%;
  margin-left: 16px;
  -webkit-transform: translateX(-8px) scale(0.3);
  transform: translateX(-8px) scale(0.3);
  -webkit-transform-origin: left center;
  transform-origin: left center;
}
.fab-buttons-center a:nth-child(3) {
  left: 50%;
  margin-left: -20px;
  top: 100%;
  margin-top: 16px;
  -webkit-transform: translateY(8px) scale(0.3);
  transform: translateY(8px) scale(0.3);
  -webkit-transform-origin: center top;
  transform-origin: center top;
}
.fab-buttons-center a:nth-child(4) {
  right: 100%;
  margin-top: -20px;
  top: 50%;
  margin-right: 16px;
  -webkit-transform: translateX(8px) scale(0.3);
  transform: translateX(8px) scale(0.3);
  -webkit-transform-origin: right center;
  transform-origin: right center;
}
.fab-opened.fab-morph > a i {
  opacity: 0;
}
.fab-morph,
.fab-morph > a,
.fab-morph-target {
  -webkit-transition-duration: 250ms;
  transition-duration: 250ms;
}
.fab-morph-target:not(.fab-morph-target-visible) {
  display: none;
}
.fab-extended {
  width: auto;
}
.fab-extended > a {
  width: 100% !important;
}
.fab-text {
  padding-left: 20px;
  padding-right: 20px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 14px;
  text-transform: uppercase;
}
.fab-label-button {
  overflow: visible !important;
}
.fab-label {
  position: absolute;
  top: 50%;
  padding: 4px 12px;
  border-radius: 4px;
  background: #fff;
  color: #333;
  white-space: nowrap;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  pointer-events: none;
}
.fab[class*="fab-right-"] .fab-label {
  right: 100%;
  margin-right: 8px;
}
.fab[class*="fab-left-"] .fab-label {
  left: 100%;
  margin-left: 8px;
}
.ios .fab > a,
.ios .fab-buttons a {
  background: #007aff;
  width: 50px;
  height: 50px;
  -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
  border-radius: 25px;
  color: #fff;
}
.ios .fab > a.active-state,
.ios .fab-buttons a.active-state {
  -webkit-transition-duration: 0ms;
  transition-duration: 0ms;
  background: #0066d6;
}
.ios .fab > a i.icon,
.ios .fab-buttons a i.icon {
  font-size: 21px;
}
.ios .fab[class*="fab-left"] {
  left: 15px;
}
.ios .fab[class*="fab-right"] {
  right: 15px;
}
.ios .fab[class*="-top"] {
  top: 15px;
}
.ios .fab[class*="-bottom"] {
  bottom: 15px;
}
.ios .navbar ~ * .fab[class*="-top"],
.ios .navbar ~ .fab[class*="-top"] {
  margin-top: 44px;
}
.ios .toolbar ~ * .fab[class*="-bottom"],
.ios .toolbar ~ .fab[class*="-bottom"] {
  margin-bottom: 44px;
}
.ios .tabbar-labels ~ * .fab[class*="-bottom"],
.ios .tabbar-labels ~ .fab[class*="-bottom"] {
  margin-bottom: 50px;
}
@media (min-width: 768px) {
  .ios .tabbar-labels ~ * .fab[class*="-bottom"],
  .ios .tabbar-labels ~ .fab[class*="-bottom"] {
    margin-bottom: 56px;
  }
}
.ios .fab-morph {
  border-radius: 25px;
  background: #007aff;
  -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
}
.ios .fab-morph > a {
  -webkit-box-shadow: none;
  box-shadow: none;
  background: none !important;
}
.ios .fab-extended {
  min-width: 50px;
}
.ios .fab-extended > a {
  width: 100%;
  height: 50px;
}
.ios .fab-extended > a i {
  left: 25px;
}
.ios .fab-extended i ~ .fab-text {
  padding-left: 50px;
}
.ios .fab-label {
  -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.4);
}
.ios .color-theme-red .fab > a,
.ios .color-theme-red .fab-buttons a,
.ios .color-theme-red.fab > a,
.ios .color-theme-red.fab-buttons a {
  background: #ff3b30;
}
.ios .color-theme-red .fab > a.active-state,
.ios .color-theme-red .fab-buttons a.active-state,
.ios .color-theme-red.fab > a.active-state,
.ios .color-theme-red.fab-buttons a.active-state {
  background: #ff1407;
}
.ios .color-theme-red .fab-morph,
.ios .color-theme-red.fab-morph {
  background: #ff3b30;
}
.ios .color-theme-green .fab > a,
.ios .color-theme-green .fab-buttons a,
.ios .color-theme-green.fab > a,
.ios .color-theme-green.fab-buttons a {
  background: #4cd964;
}
.ios .color-theme-green .fab > a.active-state,
.ios .color-theme-green .fab-buttons a.active-state,
.ios .color-theme-green.fab > a.active-state,
.ios .color-theme-green.fab-buttons a.active-state {
  background: #2cd048;
}
.ios .color-theme-green .fab-morph,
.ios .color-theme-green.fab-morph {
  background: #4cd964;
}
.ios .color-theme-blue .fab > a,
.ios .color-theme-blue .fab-buttons a,
.ios .color-theme-blue.fab > a,
.ios .color-theme-blue.fab-buttons a {
  background: #007aff;
}
.ios .color-theme-blue .fab > a.active-state,
.ios .color-theme-blue .fab-buttons a.active-state,
.ios .color-theme-blue.fab > a.active-state,
.ios .color-theme-blue.fab-buttons a.active-state {
  background: #0066d6;
}
.ios .color-theme-blue .fab-morph,
.ios .color-theme-blue.fab-morph {
  background: #007aff;
}
.ios .color-theme-pink .fab > a,
.ios .color-theme-pink .fab-buttons a,
.ios .color-theme-pink.fab > a,
.ios .color-theme-pink.fab-buttons a {
  background: #ff2d55;
}
.ios .color-theme-pink .fab > a.active-state,
.ios .color-theme-pink .fab-buttons a.active-state,
.ios .color-theme-pink.fab > a.active-state,
.ios .color-theme-pink.fab-buttons a.active-state {
  background: #ff0434;
}
.ios .color-theme-pink .fab-morph,
.ios .color-theme-pink.fab-morph {
  background: #ff2d55;
}
.ios .color-theme-yellow .fab > a,
.ios .color-theme-yellow .fab-buttons a,
.ios .color-theme-yellow.fab > a,
.ios .color-theme-yellow.fab-buttons a {
  background: #ffcc00;
}
.ios .color-theme-yellow .fab > a.active-state,
.ios .color-theme-yellow .fab-buttons a.active-state,
.ios .color-theme-yellow.fab > a.active-state,
.ios .color-theme-yellow.fab-buttons a.active-state {
  background: #d6ab00;
}
.ios .color-theme-yellow .fab-morph,
.ios .color-theme-yellow.fab-morph {
  background: #ffcc00;
}
.ios .color-theme-orange .fab > a,
.ios .color-theme-orange .fab-buttons a,
.ios .color-theme-orange.fab > a,
.ios .color-theme-orange.fab-buttons a {
  background: #ff9500;
}
.ios .color-theme-orange .fab > a.active-state,
.ios .color-theme-orange .fab-buttons a.active-state,
.ios .color-theme-orange.fab > a.active-state,
.ios .color-theme-orange.fab-buttons a.active-state {
  background: #d67d00;
}
.ios .color-theme-orange .fab-morph,
.ios .color-theme-orange.fab-morph {
  background: #ff9500;
}
.ios .color-theme-gray .fab > a,
.ios .color-theme-gray .fab-buttons a,
.ios .color-theme-gray.fab > a,
.ios .color-theme-gray.fab-buttons a {
  background: #8e8e93;
}
.ios .color-theme-gray .fab > a.active-state,
.ios .color-theme-gray .fab-buttons a.active-state,
.ios .color-theme-gray.fab > a.active-state,
.ios .color-theme-gray.fab-buttons a.active-state {
  background: #79797f;
}
.ios .color-theme-gray .fab-morph,
.ios .color-theme-gray.fab-morph {
  background: #8e8e93;
}
.ios .color-theme-white .fab > a,
.ios .color-theme-white .fab-buttons a,
.ios .color-theme-white.fab > a,
.ios .color-theme-white.fab-buttons a {
  background: #ffffff;
}
.ios .color-theme-white .fab > a.active-state,
.ios .color-theme-white .fab-buttons a.active-state,
.ios .color-theme-white.fab > a.active-state,
.ios .color-theme-white.fab-buttons a.active-state {
  background: #ebebeb;
}
.ios .color-theme-white .fab-morph,
.ios .color-theme-white.fab-morph {
  background: #ffffff;
}
.ios .color-theme-black .fab > a,
.ios .color-theme-black .fab-buttons a,
.ios .color-theme-black.fab > a,
.ios .color-theme-black.fab-buttons a {
  background: #000000;
}
.ios .color-theme-black .fab > a.active-state,
.ios .color-theme-black .fab-buttons a.active-state,
.ios .color-theme-black.fab > a.active-state,
.ios .color-theme-black.fab-buttons a.active-state {
  background: #000000;
}
.ios .color-theme-black .fab-morph,
.ios .color-theme-black.fab-morph {
  background: #000000;
}
.ios .fab.color-red > a,
.ios .fab.color-red .fab-buttons > a,
.ios .fab-buttons.color-red a,
.ios .fab > a.color-red,
.ios .fab .fab-buttons > a.color-red {
  background: #ff3b30;
}
.ios .fab.color-red > a.active-state,
.ios .fab.color-red .fab-buttons > a.active-state,
.ios .fab-buttons.color-red a.active-state,
.ios .fab > a.color-red.active-state,
.ios .fab .fab-buttons > a.color-red.active-state {
  background: #ff1407;
}
.ios .fab-morph.color-red {
  background: #ff3b30;
}
.ios .fab.color-green > a,
.ios .fab.color-green .fab-buttons > a,
.ios .fab-buttons.color-green a,
.ios .fab > a.color-green,
.ios .fab .fab-buttons > a.color-green {
  background: #4cd964;
}
.ios .fab.color-green > a.active-state,
.ios .fab.color-green .fab-buttons > a.active-state,
.ios .fab-buttons.color-green a.active-state,
.ios .fab > a.color-green.active-state,
.ios .fab .fab-buttons > a.color-green.active-state {
  background: #2cd048;
}
.ios .fab-morph.color-green {
  background: #4cd964;
}
.ios .fab.color-blue > a,
.ios .fab.color-blue .fab-buttons > a,
.ios .fab-buttons.color-blue a,
.ios .fab > a.color-blue,
.ios .fab .fab-buttons > a.color-blue {
  background: #007aff;
}
.ios .fab.color-blue > a.active-state,
.ios .fab.color-blue .fab-buttons > a.active-state,
.ios .fab-buttons.color-blue a.active-state,
.ios .fab > a.color-blue.active-state,
.ios .fab .fab-buttons > a.color-blue.active-state {
  background: #0066d6;
}
.ios .fab-morph.color-blue {
  background: #007aff;
}
.ios .fab.color-pink > a,
.ios .fab.color-pink .fab-buttons > a,
.ios .fab-buttons.color-pink a,
.ios .fab > a.color-pink,
.ios .fab .fab-buttons > a.color-pink {
  background: #ff2d55;
}
.ios .fab.color-pink > a.active-state,
.ios .fab.color-pink .fab-buttons > a.active-state,
.ios .fab-buttons.color-pink a.active-state,
.ios .fab > a.color-pink.active-state,
.ios .fab .fab-buttons > a.color-pink.active-state {
  background: #ff0434;
}
.ios .fab-morph.color-pink {
  background: #ff2d55;
}
.ios .fab.color-yellow > a,
.ios .fab.color-yellow .fab-buttons > a,
.ios .fab-buttons.color-yellow a,
.ios .fab > a.color-yellow,
.ios .fab .fab-buttons > a.color-yellow {
  background: #ffcc00;
}
.ios .fab.color-yellow > a.active-state,
.ios .fab.color-yellow .fab-buttons > a.active-state,
.ios .fab-buttons.color-yellow a.active-state,
.ios .fab > a.color-yellow.active-state,
.ios .fab .fab-buttons > a.color-yellow.active-state {
  background: #d6ab00;
}
.ios .fab-morph.color-yellow {
  background: #ffcc00;
}
.ios .fab.color-orange > a,
.ios .fab.color-orange .fab-buttons > a,
.ios .fab-buttons.color-orange a,
.ios .fab > a.color-orange,
.ios .fab .fab-buttons > a.color-orange {
  background: #ff9500;
}
.ios .fab.color-orange > a.active-state,
.ios .fab.color-orange .fab-buttons > a.active-state,
.ios .fab-buttons.color-orange a.active-state,
.ios .fab > a.color-orange.active-state,
.ios .fab .fab-buttons > a.color-orange.active-state {
  background: #d67d00;
}
.ios .fab-morph.color-orange {
  background: #ff9500;
}
.ios .fab.color-gray > a,
.ios .fab.color-gray .fab-buttons > a,
.ios .fab-buttons.color-gray a,
.ios .fab > a.color-gray,
.ios .fab .fab-buttons > a.color-gray {
  background: #8e8e93;
}
.ios .fab.color-gray > a.active-state,
.ios .fab.color-gray .fab-buttons > a.active-state,
.ios .fab-buttons.color-gray a.active-state,
.ios .fab > a.color-gray.active-state,
.ios .fab .fab-buttons > a.color-gray.active-state {
  background: #79797f;
}
.ios .fab-morph.color-gray {
  background: #8e8e93;
}
.ios .fab.color-white > a,
.ios .fab.color-white .fab-buttons > a,
.ios .fab-buttons.color-white a,
.ios .fab > a.color-white,
.ios .fab .fab-buttons > a.color-white {
  background: #ffffff;
}
.ios .fab.color-white > a.active-state,
.ios .fab.color-white .fab-buttons > a.active-state,
.ios .fab-buttons.color-white a.active-state,
.ios .fab > a.color-white.active-state,
.ios .fab .fab-buttons > a.color-white.active-state {
  background: #ebebeb;
}
.ios .fab-morph.color-white {
  background: #ffffff;
}
.ios .fab.color-black > a,
.ios .fab.color-black .fab-buttons > a,
.ios .fab-buttons.color-black a,
.ios .fab > a.color-black,
.ios .fab .fab-buttons > a.color-black {
  background: #000000;
}
.ios .fab.color-black > a.active-state,
.ios .fab.color-black .fab-buttons > a.active-state,
.ios .fab-buttons.color-black a.active-state,
.ios .fab > a.color-black.active-state,
.ios .fab .fab-buttons > a.color-black.active-state {
  background: #000000;
}
.ios .fab-morph.color-black {
  background: #000000;
}
.ios.device-iphone-x .fab[class*="-bottom"] {
  bottom: calc(15px + constant(safe-area-inset-bottom));
  bottom: calc(15px + env(safe-area-inset-bottom));
}
@media (orientation: landscape) {
  .ios.device-iphone-x .ios-left-edge .fab[class*="fab-left"],
  .ios.device-iphone-x .ios-edges .fab[class*="fab-left"],
  .ios.device-iphone-x .popup .fab[class*="fab-left"],
  .ios.device-iphone-x .sheet-modal .fab[class*="fab-left"],
  .ios.device-iphone-x .panel-left .fab[class*="fab-left"] {
    left: calc(15px + constant(safe-area-inset-left));
    left: calc(15px + env(safe-area-inset-left));
  }
  .ios.device-iphone-x .ios-right-edge .fab[class*="fab-right"],
  .ios.device-iphone-x .ios-edges .fab[class*="fab-right"],
  .ios.device-iphone-x .popup .fab[class*="fab-right"],
  .ios.device-iphone-x .sheet-modal .fab[class*="fab-right"],
  .ios.device-iphone-x .panel-right .fab[class*="fab-right"] {
    right: calc(15px + constant(safe-area-inset-right));
    right: calc(15px + env(safe-area-inset-right));
  }
}
