html {
  box-sizing: border-box;

  font-size: calc(100vw / 7.5); /* 设计稿计算公式 */

  overscroll-behavior: contain;
}

@media screen and (min-width: 750px) {
  html {
    font-size: 100px;
  }
}

body {
  word-break: break-all;

  color: #222;

  font-family: PingFang SC;
  font-size: .34rem;
}
html,
body {
  overflow: hidden;

  height: 100%;
  margin: 0;
  padding: 0;

  user-select: none; /* 禁止选择文本 */

  -webkit-touch-callout: none; /* 系统默认菜单被禁用 */
}

a {
  color: #222;
}
p,
ul,
li {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

dl,
dd {
  margin: 0;
}

input {
  padding: 0;
  box-sizing: border-box;
}

input,
textarea {
  font-family: PingFang SC;
  font-size: .24rem;
}

input::-webkit-input-placeholder {
  color: currentColor;
}

input[type=search]::-webkit-search-cancel-button {
  position: relative;

  width: .28rem;
  height: .28rem;

  background: url("../img/search/search_delete.svg") no-repeat;
  background-size: 100% 100%;

  -webkit-appearance: none;
}

i {
  font-style: normal;
}

button {
  border: 0;
  background: none;
}

#root {
  width: 100%;
  height: 100%;
}

#root .views {
  overflow: hidden;
}

.pages {
  overflow: hidden;

  background: #fff;
}

.page {
  overflow: hidden;
}
