html {
  box-sizing: border-box;
  font-size: calc(100vw / 7.5); /* 设计稿计算公式 */
  overscroll-behavior: contain;
}
@media screen and (min-width: 750px) {
  html {
    font-size: 100px;
  }
}

p,
ul,
li {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

dl,
dd {
  margin: 0;
}

input {
  padding: 0;
  box-sizing: border-box;
}

input,
textarea {
  font-family: PingFang SC;
  font-size: .24rem;
}

input::-webkit-input-placeholder {
  color: #d8d8d8;
}

.myblack input::-webkit-input-placeholder {
  color: #999;
}

input[type=search]::-webkit-search-cancel-button {
  position: relative;

  width: .28rem;
  height: .28rem;

  background: url("../img/search/search_delete.svg") no-repeat;
  background-size: 100% 100%;

  -webkit-appearance: none;
}

i {
  font-style: normal;
}

button {
  border: 0;
  padding: 0;
  background: none;
}

button:disabled {
  opacity: .5;
}

select {
  background: url("../img/login/down_arrow.svg") no-repeat right center;
  background-origin: content-box;
  background-size: .28rem .16rem;

  appearance: none;
}


select option {
  color:#222;
}

.ios .navbar-inner {
  padding: 0 .2rem;
}

.ios .navbar .left ,
.ios .navbar .right {
  margin: 0;
}

.ios .navbar .right {
  text-align: right;
}

.ios .navbar .title {
  font-size: .36rem;
}


.ios .header a.link {
  min-width: .78rem;
  height: 100%;
  line-height: 1.5;
}

/* .header .left .link {
} */

.header .right .link {
  display: flex;
  justify-content: flex-end;
  font-size: .3rem;
}

.toolbar-fixed .page-content {
  padding-bottom: .98rem;
}

.ios .home,
.ios .home .page {
  background-color: #fff;
}

.ios .ptr-preloader {
  height: .88rem;
  margin-top: -.88rem;
}

.padding {
  padding: 0;
}

.border1px {
  position: relative;
}

.border1px::before,
.not-border .border1px:not(:last-child)::before {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  height: 1px;
  content: "";
  transform: scaleY(.5) translateY(50%);
  background-color: #ebebeb;
}

.border-right {
  position: relative;
}

.border-right:not(:last-child)::before {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 1px;
  background-color: #d8d8d8;
  transform: scaleX(.5) translateX(50%);
}

.boy,
.girl {
  background: no-repeat right center / .4rem .4rem;
  padding-right: .5rem;
  display: inline-block;
}
.boy {
  background-image: url("../img/boy.svg");
}
.girl {
  background-image: url("../img/girl.svg");
}

.name {
  min-height: .48rem;
  font-size: .32rem;
  color: #333;
}

.class-name {
  min-height: .48rem;
  line-height: .48rem;
  font-size: .28rem;
  color: #999;
}


.wpForumText{
	line-height: 1.6;
	font-size: 0.3rem;
	color: #353535;
}

.wpForumFunction{
	line-height: 0.63rem;
	margin: 0.05rem 0;
}
.wpTime{
	line-height: .63rem;
	font-size: 0.28rem;
	color: #5b5b5d;
}
.wpDelete{
	line-height: .63rem;
	font-size: 0.26rem;
  color: #E64340;
  padding: 0 .2rem;
}
.wpLikes{
	background: url('../img/like_normal.svg') no-repeat left center;
	background-size: 0.3rem 0.26rem;
  padding: 0 .2rem 0 .39rem;
}
.wpLikes-on{
	background-image: url('../img/like_selected.svg');
}

.wpComment{
	background: url('../img/comment.svg') no-repeat left center;
	background-size: 0.28rem 0.28rem;
	padding-left: 0.35rem;
}
.wpForumFunction .wpLikes,
.wpForumFunction .wpComment{
	float: right;
	height: 0.63rem;
	font-size: 0.28rem;
	color: #353535;
}

.wpCommentMes{
	background: #f4f4f4;
	font-size: 0.28rem;
	line-height: 1.6;
	word-break:break-all;
}

.wpCommentMes .wpButton{
  padding: 0;
  border: 0;
  background: none;
  color: #119C8F;
}

.wpMes{
	display: block;
	padding: 0.15rem 0.2rem;
	box-sizing: border-box;
	overflow: hidden;
	color: #5b5b5d;
}
.wpMes.border1px::after{
	background: #CCD2DF;
	background-clip: content-box;
	padding: 0 0.2rem;
	width: 100%;
	box-sizing: border-box;
}
.wpMes:last-child::after{
	height: 0;
}
.wpMes.active-state{
	background: #CCD2DF;
}
.wpMesName{
	float: left;
	color: #119C8F;
}
.wpMesTime{
	float: right;
	font-size: 0.24rem;
}
.wpMesText{
	clear: both;
}

.wpForumImg{
	display: flex;
	flex-wrap: wrap;
}
.wpForumOneImg{
	display: block;
}

.wpForumImg img{
	width: 1.6rem;
	height: 1.6rem;
	margin: 0.14rem 0.14rem 0 0;
}

.wpForumImg .oneImg{
	width: 2.88rem;
	height: auto;
	max-height: 3.88rem;
}
.noData{
	text-align: center;
	line-height: 2;
	font-size: 0.3rem;
}


.flexBox {
  position: absolute;
  z-index: 9999;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  display: flex;
  align-items: center;
  justify-content: center;
}


/* 动画 */

.fade {
  transition: all .2s ease;
}
.fade-entering {
  transform: translate3d(0, 100%, 0);
}
.fade-entered {
  transform: translate3d(0, 0, 0);
}
.fade-exiting {
  transform: translate3d(0, 0, 0);
}
.fade-exited {
  transform: translate3d(0, 100%, 0);
}
.fade-unmounted {
  transform: translate3d(0, 100%, 0);
}

.mask {
  transition: all .2s ease;
}
.mask-entering {
  opacity: 0;
}
.mask-entered {
  opacity: 1;
}
.mask-exiting {
  opacity: 1;
}
.mask-exited {
  opacity: 0;
}
.mask-unmounted {
  opacity: 0;
}


.zooming-entering {
  transform: scale(0);
}
.zooming-entered {
  transform: scale(1);
}
.zooming-exiting {
  transform: scale(1);
}
.zooming-exited {
  transform: scale(.5);
  opacity: 0;
}
.zooming-unmounted {
  transform: scale(.5);
}
