/* === Data Table === */
.data-table {
  overflow-x: auto;
}
.data-table table {
  width: 100%;
  border: none;
  padding: 0;
  margin: 0;
  border-collapse: collapse;
  text-align: left;
}
.data-table thead {
  font-size: 12px;
}
.data-table thead th,
.data-table thead td {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  line-height: 16px;
}
.data-table thead i.icon,
.data-table thead i.f7-icons,
.data-table thead i.material-icons {
  vertical-align: top;
}
.data-table th,
.data-table td {
  padding: 0;
  position: relative;
}
.data-table th.numeric-cell,
.data-table td.numeric-cell {
  text-align: right;
}
.data-table th.checkbox-cell,
.data-table td.checkbox-cell {
  overflow: visible;
}
.data-table th.checkbox-cell label + span,
.data-table td.checkbox-cell label + span {
  margin-left: 8px;
}
.data-table th.actions-cell,
.data-table td.actions-cell {
  text-align: right;
  white-space: nowrap;
}
.data-table th a.icon-only,
.data-table td a.icon-only,
.card .data-table th a.icon-only,
.card .data-table td a.icon-only,
.card.data-table th a.icon-only,
.card.data-table td a.icon-only {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  font-size: 0;
  min-width: 0;
}
.data-table th a.icon-only i,
.data-table td a.icon-only i,
.card .data-table th a.icon-only i,
.card .data-table td a.icon-only i,
.card.data-table th a.icon-only i,
.card.data-table td a.icon-only i {
  font-size: 18px;
  vertical-align: middle;
}
.data-table .sortable-cell:not(.input-cell) {
  cursor: pointer;
  position: relative;
}
.data-table .sortable-cell.input-cell .table-head-label {
  cursor: pointer;
  position: relative;
}
.data-table .sortable-cell:not(.numeric-cell):not(.input-cell):after,
.data-table .sortable-cell.numeric-cell:not(.input-cell):before,
.data-table .sortable-cell:not(.numeric-cell).input-cell > .table-head-label:after,
.data-table .sortable-cell.numeric-cell.input-cell > .table-head-label:before {
  content: '';
  display: inline-block;
  vertical-align: top;
  width: 16px;
  height: 16px;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20fill%3D'%23000000'%20height%3D'24'%20viewBox%3D'0%200%2024%2024'%20width%3D'24'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%3E%3Cpath%20d%3D'M0%200h24v24H0V0z'%20fill%3D'none'%2F%3E%3Cpath%20d%3D'M20%2012l-1.41-1.41L13%2016.17V4h-2v12.17l-5.58-5.59L4%2012l8%208%208-8z'%20fill%3D'%23000000'%2F%3E%3C%2Fsvg%3E");
  background-size: 100% auto;
  background-position: center;
  background-repeat: no-repeat;
  font-size: 0;
  transition-duration: 300ms;
  transform: rotate(0);
  opacity: 0;
}
html.device-desktop .data-table .sortable-cell:not(.sortable-cell-active):hover:after,
html.device-desktop .data-table .sortable-cell:not(.sortable-cell-active) .table-head-label:hover:after,
html.device-desktop .data-table .sortable-cell:not(.sortable-cell-active):hover:before,
html.device-desktop .data-table .sortable-cell:not(.sortable-cell-active) .table-head-label:hover:before {
  opacity: 0.54;
}
.data-table .sortable-cell.sortable-cell-active:after,
.data-table .sortable-cell.sortable-cell-active .table-head-label:after,
.data-table .sortable-cell.sortable-cell-active:before,
.data-table .sortable-cell.sortable-cell-active .table-head-label:before {
  opacity: 0.87 !important;
}
.data-table .sortable-cell.sortable-desc:after,
.data-table .sortable-cell.sortable-desc:after,
.data-table .table-head-label:after,
.data-table .sortable-cell.sortable-desc:before,
.data-table .sortable-cell.sortable-desc:before,
.data-table .table-head-label:before {
  transform: rotate(180deg) !important;
}
.data-table.card .card-header,
.card .data-table .card-header {
  height: 64px;
}
.data-table.card .card-content,
.card .data-table .card-content {
  overflow-x: auto;
}
.data-table .data-table-links,
.data-table .data-table-actions {
  display: flex;
}
.data-table .data-table-actions {
  margin-left: auto;
  align-items: center;
}
.data-table .data-table-actions a.link {
  min-width: 0;
}
.data-table .data-table-actions a.link.icon-only {
  line-height: 1;
  justify-content: center;
  padding: 0;
}
.data-table .data-table-header,
.data-table .data-table-header-selected {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.data-table .data-table-header-selected {
  display: none;
}
.data-table.data-table-has-checked .data-table-header {
  display: none;
}
.data-table.data-table-has-checked .data-table-header-selected {
  display: flex;
}
.data-table .data-table-title-selected {
  font-size: 14px;
}
.data-table .data-table-footer {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  position: relative;
  font-size: 12px;
  overflow: hidden;
  justify-content: flex-end;
}
.data-table .data-table-rows-select,
.data-table .data-table-pagination {
  display: flex;
  align-items: center;
}
@media (max-width: 480px) and (orientation: portrait) {
  .data-table.data-table-collapsible thead {
    display: none;
  }
  .data-table.data-table-collapsible tbody,
  .data-table.data-table-collapsible tr,
  .data-table.data-table-collapsible td {
    display: block;
  }
  .data-table.data-table-collapsible tr {
    position: relative;
  }
  .data-table.data-table-collapsible tr:hover {
    background-color: inherit;
  }
  .data-table.data-table-collapsible td {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: flex-start;
    text-align: left;
  }
  .data-table.data-table-collapsible td:before {
    display: none !important;
  }
  .data-table.data-table-collapsible td:not(.checkbox-cell):before {
    width: 40%;
    display: block !important;
    content: attr(data-collapsible-title);
    position: relative;
    height: auto;
    background: none !important;
    transform: none !important;
    font-size: 12px;
    margin-right: 16px;
    flex-shrink: 0;
  }
  .data-table.data-table-collapsible td.checkbox-cell {
    position: absolute;
    top: 0;
    left: 0;
  }
  .data-table.data-table-collapsible td.checkbox-cell + td {
    padding-left: 16px;
  }
  .data-table.data-table-collapsible td.checkbox-cell ~ td {
    margin-left: 32px;
  }
}
.data-table .tablet-only,
.data-table .tablet-landscape-only {
  display: none;
}
@media (min-width: 768px) {
  .data-table .tablet-only {
    display: table-cell;
  }
}
@media (min-width: 768px) and (orientation: landscape) {
  .data-table .tablet-landscape-only {
    display: table-cell;
  }
}
.theme-dark .data-table .sortable-cell:not(.numeric-cell):not(.input-cell):after,
.theme-dark .data-table .sortable-cell.numeric-cell:not(.input-cell):before,
.theme-dark .data-table .sortable-cell:not(.numeric-cell).input-cell > .table-head-label:after,
.theme-dark .data-table .sortable-cell.numeric-cell.input-cell > .table-head-label:before {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20fill%3D'%23fff'%20height%3D'24'%20viewBox%3D'0%200%2024%2024'%20width%3D'24'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%3E%3Cpath%20d%3D'M0%200h24v24H0V0z'%20fill%3D'none'%2F%3E%3Cpath%20d%3D'M20%2012l-1.41-1.41L13%2016.17V4h-2v12.17l-5.58-5.59L4%2012l8%208%208-8z'%20fill%3D'%23fff'%2F%3E%3C%2Fsvg%3E");
}
.ios .data-table thead th,
.ios .data-table thead td {
  font-weight: 600;
}
.ios .data-table thead th:not(.sortable-cell-active),
.ios .data-table thead td:not(.sortable-cell-active) {
  color: #8e8e93;
}
.ios .data-table thead i.icon,
.ios .data-table thead i.f7-icons {
  font-size: 18px;
  width: 18px;
  height: 18px;
}
.ios .data-table tbody tr.data-table-row-selected {
  background: #f7f7f8;
}
.ios .data-table th,
.ios .data-table td {
  padding-left: 15px;
  padding-right: 15px;
  height: 44px;
}
.ios .data-table th.checkbox-cell,
.ios .data-table td.checkbox-cell {
  width: 22px;
  padding-right: 7px;
}
.ios .data-table th.checkbox-cell + td,
.ios .data-table td.checkbox-cell + td,
.ios .data-table th.checkbox-cell + th,
.ios .data-table td.checkbox-cell + th {
  padding-left: 8px;
}
.ios .data-table th.actions-cell a.link + a.link,
.ios .data-table td.actions-cell a.link + a.link {
  margin-left: 15px;
}
.ios .data-table th.actions-cell a.icon-only,
.ios .data-table td.actions-cell a.icon-only {
  width: 18px;
  height: 18px;
  line-height: 18px;
}
.ios .sortable-cell:not(.numeric-cell):after {
  margin-left: 5px;
}
.ios .sortable-cell.numeric-cell:before {
  margin-right: 5px;
}
.ios .data-table.card .card-header,
.ios .card .data-table .card-header,
.ios .data-table.card .card-footer,
.ios .card .data-table .card-footer {
  padding-left: 15px;
  padding-right: 8px;
}
.ios .data-table-title {
  font-size: 17px;
  font-weight: 600;
}
.ios .data-table-links a.link + a.link,
.ios .data-table-actions a.link + a.link {
  margin-left: 15px;
}
.ios .data-table-actions a.link.icon-only {
  width: 44px;
  height: 44px;
}
.ios .data-table-actions i.icon,
.ios .data-table-actions i.f7-icons {
  font-size: 22px;
}
.ios .data-table .card-header > .data-table-header,
.ios .data-table .card-header > .data-table-header-selected {
  padding-top: 10px;
  padding-bottom: 10px;
  height: 100%;
  padding-left: 15px;
  padding-right: 8px;
  margin-left: -15px;
  margin-right: -8px;
}
.ios .data-table-header-selected {
  background: rgba(0, 122, 255, 0.1);
}
.ios .data-table-title-selected {
  color: #007aff;
}
.ios .data-table tbody td:before {
  content: '';
  position: absolute;
  background-color: #c8c7cc;
  display: block;
  z-index: 15;
  top: 0;
  right: auto;
  bottom: auto;
  left: 0;
  height: 1px;
  width: 100%;
  -webkit-transform-origin: 50% 0%;
  transform-origin: 50% 0%;
}
.ios.device-pixel-ratio-2 .data-table tbody td:before {
  -webkit-transform: scaleY(0.5);
  transform: scaleY(0.5);
}
.ios.device-pixel-ratio-3 .data-table tbody td:before {
  -webkit-transform: scaleY(0.33);
  transform: scaleY(0.33);
}
.ios.device-desktop .data-table tbody tr:hover {
  background: #f7f7f8;
}
.ios .data-table-footer {
  height: 44px;
  color: #8e8e93;
}
.ios .data-table-rows-select a.link,
.ios .data-table-pagination a.link {
  width: 44px;
  height: 44px;
}
.ios .data-table-rows-select + .data-table-pagination {
  margin-left: 30px;
}
.ios .data-table-rows-select .input {
  margin-left: 20px;
}
.ios .data-table-pagination-label {
  margin-right: 15px;
}
.ios .data-table-footer:before {
  content: '';
  position: absolute;
  background-color: #c8c7cc;
  display: block;
  z-index: 15;
  top: 0;
  right: auto;
  bottom: auto;
  left: 0;
  height: 1px;
  width: 100%;
  transform-origin: 50% 0%;
}
.ios.device-pixel-ratio-2 .data-table-footer:before {
  transform: scaleY(0.5);
}
.ios.device-pixel-ratio-3 .data-table-footer:before {
  transform: scaleY(0.33);
}
.ios .input-cell {
  padding-top: 8px;
  padding-bottom: 8px;
  height: auto;
  vertical-align: top;
}
.ios .input-cell .table-head-label + .input {
  margin-top: 4px;
}
.ios .input-cell .input {
  height: 24px;
}
.ios .input-cell .input input,
.ios .input-cell .input textarea,
.ios .input-cell .input select {
  height: 24px;
  color: #000;
  font-size: 14px;
}
@media (max-width: 480px) and (orientation: portrait) {
  .ios .data-table.data-table-collapsible td:not(.checkbox-cell):before {
    color: #8e8e93;
    font-weight: 600;
  }
  .ios .data-table-collapsible tr:before {
    content: '';
    position: absolute;
    background-color: #c8c7cc;
    display: block;
    z-index: 15;
    top: 0;
    right: auto;
    bottom: auto;
    left: 0;
    height: 1px;
    width: 100%;
    transform-origin: 50% 0%;
  }
  .ios.device-pixel-ratio-2 .data-table-collapsible tr:before {
    transform: scaleY(0.5);
  }
  .ios.device-pixel-ratio-3 .data-table-collapsible tr:before {
    transform: scaleY(0.33);
  }
}
.ios .theme-dark .data-table tbody td:before,
.data-table.ios .theme-dark tbody td:before {
  background-color: #282829;
}
.ios .theme-dark .data-table.data-table-collapsible tr:before,
.data-table.ios .theme-dark.data-table-collapsible tr:before {
  background-color: #282829;
}
.ios .theme-dark .data-table tbody tr.data-table-row-selected,
.data-table.ios .theme-dark tbody tr.data-table-row-selected {
  background-color: #363636;
}
.ios.device-desktop .theme-dark .data-table tbody tr:hover,
.ios.device-desktop .theme-dark.data-table tbody tr:hover {
  background: #363636;
}

.ios .color-theme-black .data-table-header-selected,
.ios .data-table-header-selected.color-black {
  background: rgba(0, 0, 0, 0.1);
}
.ios .color-theme-black .data-table-title-selected,
.ios .color-black .data-table-title-selected {
  color: #000000;
}
