/* === Progressbar === */
.progressbar,
.progressbar-infinite {
  width: 100%;
  overflow: hidden;
  position: relative;
  display: block;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
body > .progressbar,
.view > .progressbar,
.views > .progressbar,
.page > .progressbar,
.panel > .progressbar,
.popup > .progressbar,
.framework7-root > .progressbar,
body > .progressbar-infinite,
.view > .progressbar-infinite,
.views > .progressbar-infinite,
.page > .progressbar-infinite,
.panel > .progressbar-infinite,
.popup > .progressbar-infinite,
.framework7-root > .progressbar-infinite {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 15000;
  border-radius: 0 !important;
  -webkit-transform-origin: center top !important;
  transform-origin: center top !important;
}
.with-statusbar.device-ios body > .progressbar,
.with-statusbar.ios:not(.device-ios):not(.device-android) body > .progressbar,
.with-statusbar.device-ios .framework7-root > .progressbar,
.with-statusbar.ios:not(.device-ios):not(.device-android) .framework7-root > .progressbar,
.with-statusbar.device-ios body > .progressbar-infinite,
.with-statusbar.ios:not(.device-ios):not(.device-android) body > .progressbar-infinite,
.with-statusbar.device-ios .framework7-root > .progressbar-infinite,
.with-statusbar.ios:not(.device-ios):not(.device-android) .framework7-root > .progressbar-infinite {
  top: 20px;
}
.with-statusbar.device-android body > .progressbar,
.with-statusbar.md:not(.device-ios):not(.device-android) body > .progressbar,
.with-statusbar.device-android .framework7-root > .progressbar,
.with-statusbar.md:not(.device-ios):not(.device-android) .framework7-root > .progressbar,
.with-statusbar.device-android body > .progressbar-infinite,
.with-statusbar.md:not(.device-ios):not(.device-android) body > .progressbar-infinite,
.with-statusbar.device-android .framework7-root > .progressbar-infinite,
.with-statusbar.md:not(.device-ios):not(.device-android) .framework7-root > .progressbar-infinite {
  top: 24px;
}
.with-statusbar.device-iphone-x body > .progressbar,
.with-statusbar.device-iphone-x .framework7-root > .progressbar,
.with-statusbar.device-iphone-x body > .progressbar-infinite,
.with-statusbar.device-iphone-x .framework7-root > .progressbar-infinite {
  top: constant(safe-area-inset-top);
  top: env(safe-area-inset-top);
}
.progressbar {
  vertical-align: middle;
}
.progressbar span {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
  -webkit-transition-duration: 150ms;
  transition-duration: 150ms;
}
.progressbar-infinite:before,
.progressbar-infinite:after {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-transform-origin: left center;
  transform-origin: left center;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  display: block;
}
.progressbar-infinite.color-multi {
  background: none !important;
}
.progressbar-in {
  -webkit-animation: progressbar-in 150ms forwards;
  animation: progressbar-in 150ms forwards;
}
.progressbar-out {
  -webkit-animation: progressbar-out 150ms forwards;
  animation: progressbar-out 150ms forwards;
}
@-webkit-keyframes progressbar-in {
  from {
    opacity: 0;
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
  }
  to {
    opacity: 1;
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }
}
@keyframes progressbar-in {
  from {
    opacity: 0;
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
  }
  to {
    opacity: 1;
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }
}
@-webkit-keyframes progressbar-out {
  from {
    opacity: 1;
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }
  to {
    opacity: 0;
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
  }
}
@keyframes progressbar-out {
  from {
    opacity: 1;
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }
  to {
    opacity: 0;
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
  }
}
.ios .progressbar,
.ios .progressbar-infinite {
  height: 2px;
  background: #b6b6b6;
  -webkit-transform-origin: center top;
  transform-origin: center top;
  border-radius: 2px;
}
.ios .progressbar span {
  background: #007aff;
}
.ios .progressbar-infinite:before {
  content: '';
  background: #007aff;
  -webkit-animation: ios-progressbar-infinite 1s linear infinite;
  animation: ios-progressbar-infinite 1s linear infinite;
}
.ios .progressbar-infinite.color-multi:before {
  width: 400%;
  background-image: -webkit-gradient(linear, left top, right top, from(#4cd964), color-stop(#5ac8fa), color-stop(#007aff), color-stop(#34aadc), color-stop(#5856d6), color-stop(#ff2d55), color-stop(#5856d6), color-stop(#34aadc), color-stop(#007aff), color-stop(#5ac8fa), to(#4cd964));
  background-image: -webkit-linear-gradient(left, #4cd964, #5ac8fa, #007aff, #34aadc, #5856d6, #ff2d55, #5856d6, #34aadc, #007aff, #5ac8fa, #4cd964);
  background-image: linear-gradient(to right, #4cd964, #5ac8fa, #007aff, #34aadc, #5856d6, #ff2d55, #5856d6, #34aadc, #007aff, #5ac8fa, #4cd964);
  background-size: 25% 100%;
  background-repeat: repeat-x;
  -webkit-animation: ios-progressbar-infinite-multicolor 3s linear infinite;
  animation: ios-progressbar-infinite-multicolor 3s linear infinite;
}
.ios .color-theme-red .progressbar span {
  background: #ff3b30;
}
.ios .color-theme-red .progressbar-infinite:before {
  background: #ff3b30;
}
.ios .color-theme-green .progressbar span {
  background: #4cd964;
}
.ios .color-theme-green .progressbar-infinite:before {
  background: #4cd964;
}
.ios .color-theme-blue .progressbar span {
  background: #007aff;
}
.ios .color-theme-blue .progressbar-infinite:before {
  background: #007aff;
}
.ios .color-theme-pink .progressbar span {
  background: #ff2d55;
}
.ios .color-theme-pink .progressbar-infinite:before {
  background: #ff2d55;
}
.ios .color-theme-yellow .progressbar span {
  background: #ffcc00;
}
.ios .color-theme-yellow .progressbar-infinite:before {
  background: #ffcc00;
}
.ios .color-theme-orange .progressbar span {
  background: #ff9500;
}
.ios .color-theme-orange .progressbar-infinite:before {
  background: #ff9500;
}
.ios .color-theme-gray .progressbar span {
  background: #8e8e93;
}
.ios .color-theme-gray .progressbar-infinite:before {
  background: #8e8e93;
}
.ios .color-theme-white .progressbar span {
  background: #ffffff;
}
.ios .color-theme-white .progressbar-infinite:before {
  background: #ffffff;
}
.ios .color-theme-black .progressbar span {
  background: #000000;
}
.ios .color-theme-black .progressbar-infinite:before {
  background: #000000;
}
.ios .progressbar.color-red span {
  background: #ff3b30;
}
.ios .progressbar-infinite.color-red:before {
  background: #ff3b30;
}
.ios .progressbar.color-green span {
  background: #4cd964;
}
.ios .progressbar-infinite.color-green:before {
  background: #4cd964;
}
.ios .progressbar.color-blue span {
  background: #007aff;
}
.ios .progressbar-infinite.color-blue:before {
  background: #007aff;
}
.ios .progressbar.color-pink span {
  background: #ff2d55;
}
.ios .progressbar-infinite.color-pink:before {
  background: #ff2d55;
}
.ios .progressbar.color-yellow span {
  background: #ffcc00;
}
.ios .progressbar-infinite.color-yellow:before {
  background: #ffcc00;
}
.ios .progressbar.color-orange span {
  background: #ff9500;
}
.ios .progressbar-infinite.color-orange:before {
  background: #ff9500;
}
.ios .progressbar.color-gray span {
  background: #8e8e93;
}
.ios .progressbar-infinite.color-gray:before {
  background: #8e8e93;
}
.ios .progressbar.color-white span {
  background: #ffffff;
}
.ios .progressbar-infinite.color-white:before {
  background: #ffffff;
}
.ios .progressbar.color-black span {
  background: #000000;
}
.ios .progressbar-infinite.color-black:before {
  background: #000000;
}
@-webkit-keyframes ios-progressbar-infinite {
  0% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
}
@keyframes ios-progressbar-infinite {
  0% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
}
@-webkit-keyframes ios-progressbar-infinite-multicolor {
  0% {
    -webkit-transform: translate3d(0%, 0, 0);
    transform: translate3d(0%, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(-50%, 0, 0);
    transform: translate3d(-50%, 0, 0);
  }
}
@keyframes ios-progressbar-infinite-multicolor {
  0% {
    -webkit-transform: translate3d(0%, 0, 0);
    transform: translate3d(0%, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(-50%, 0, 0);
    transform: translate3d(-50%, 0, 0);
  }
}
